@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f4fdfb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f4fdfb;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* 1. 키프레임 정의 */
@keyframes float {
  0%,
  100% {
    translate: 0 0; /* 원래 위치 */
  }
  50% {
    translate: 0 -20px; /* 위로 20px 이동 */
  }
}
@theme {
  /* 폰트 패밀리 설정 */
  --font-paperlogy-100: "paperlogy-100", sans-serif;
  --font-paperlogy-200: "paperlogy-200", sans-serif;
  --font-paperlogy-300: "paperlogy-300", sans-serif;
  --font-paperlogy-400: "paperlogy-400", sans-serif;
  --font-paperlogy-500: "paperlogy-500", sans-serif;
  --font-paperlogy-600: "paperlogy-600", sans-serif;
  --font-paperlogy-700: "paperlogy-700", sans-serif;
  --font-paperlogy-800: "paperlogy-800", sans-serif;
  --font-paperlogy-900: "paperlogy-900", sans-serif;

  /* 애니메이션 정의 */
  --animate-float: float 3s ease-in-out infinite;
  --animate-float-slow: float 5s ease-in-out infinite;
}

@font-face {
  font-family: "paperlogy-100";
  src: url("/fonts/Paperlogy-1Thin.ttf") format("truetype");
}
@font-face {
  font-family: "paperlogy-200";
  src: url("/fonts/Paperlogy-2ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "paperlogy-300";
  src: url("/fonts/Paperlogy-3Light.ttf") format("truetype");
}
@font-face {
  font-family: "paperlogy-400";
  src: url("/fonts/Paperlogy-4Regular.ttf") format("truetype");
}
@font-face {
  font-family: "paperlogy-500";
  src: url("/fonts/Paperlogy-5Medium.ttf") format("truetype");
}
@font-face {
  font-family: "paperlogy-600";
  src: url("/fonts/Paperlogy-6SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "paperlogy-700";
  src: url("/fonts/Paperlogy-7Bold.ttf") format("truetype");
}
@font-face {
  font-family: "paperlogy-800";
  src: url("/fonts/Paperlogy-8ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "paperlogy-900";
  src: url("/fonts/Paperlogy-9Black.ttf") format("truetype");
}
